/* Profile.css */
.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the boxes horizontally */
    align-items: center; /* Center the boxes vertically */
    margin-top: 128px;
  }
  
  .profile-box {
    padding: 16px;
    background-color: var(--color-8);
    border-radius: 15px;
    width: 300px;
    margin: 16px; /* Add margin on all sides to separate the boxes */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically within the box */
    align-items: center; /* Center the content horizontally within the box */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .centered-content {
    text-align: center;
  }
  
  .title {
    color: var(--color-6);
    font-weight: 600;
    font-size: 18px;
  }
  
  .subtitle {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
  }
  

/* Profile.css */

/* Profile.css */

.nft-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; /* Gap between items */
  }
  
  .nft-item {
    padding: 16px;
    background-color: var(--color-8);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 16px;
  }
  
  /* Add this style for the images */
  .nft-item img {
    max-width: 100%; /* Limit image width to its container */
    max-height: 150px; /* Set a maximum height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  