@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #FC6E74;
}

.drag-image {
  border: 1px dashed #fff;
  height: 300px;
  width: 350px;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000; /* Set text color to black */
}

.drag-image.active {
  border: 2px solid #fff;
}

.drag-image .icon {
  font-size: 30px;
  color: #000; /* Set icon color to black */
}

.drag-image h6 {
  font-size: 20px;
  font-weight: 300;
  color: #000; /* Set text color to black */
}

.drag-image span {
  font-size: 14px;
  font-weight: 300;
  color: #000; /* Set text color to black */
  margin: 10px 0 15px 0;
}

.drag-image button {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
  background: transparent;
  color: #000; /* Set button text color to black */
  border: 1px solid #000; /* Set button border color to black */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.drag-image button:hover {
  background-color: #fff;
  color: red;
}

.drag-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
